.footer {
    margin-top: 5%;
    margin-bottom: 0%;
    width: 100%;
    height: 50px;
    background-color: rgb(60 62 68);
    border-top: 10px solid rgb(60 62 68);
}
.parrafoFooter{
    color: #F0F2EB;
    text-decoration: none;
    font-size: large;
}
.parrafoFooter:hover{
color: rgb(255, 152, 0);
}